@import "tailwindcss";
@import "tw-animate-css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Grotesk:wght@300..700&display=swap');

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --font-sans: var(--font-inter-sans);
    --font-mono: var(--font-jetbrains-mono);
    --font-space: var(--font-space-grotesk-sans);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

:root {
    --font-inter-sans: "Inter";
    --font-jetbrains-mono: "JetBrains Mono";
    --font-space-grotesk-sans: "Space Grotesk";


    --radius: 0.625rem;

    --background: #F8F7F8;
    --foreground: #1A1523;

    --card: #F8F7F8;
    --card-foreground: #1A1523;

    --popover: #F8F7F8;
    --popover-foreground: #6F6E77;

    --primary: #D63384;
    --primary-foreground: #FFFFFF;

    --secondary: #EBABC2;
    --secondary-foreground: #FFFFFF;

    --muted: #F3F1F3;
    --muted-foreground: #8F8D96;

    --accent: #2EF0EF;
    --accent-foreground: #697177;

    --destructive: #E54D2E;

    --border: #DBDADC;
    --input: #EBEBEB;
    --ring: #D63384;
}

@layer base {
    * {
        @apply border-border outline-ring/80;
    }
    body {
        @apply bg-background text-foreground font-sans;
    }
}
